[user]
	name = Wei-Meng Lee
	email = weimeng@staticfusion.org
[push]
	default = simple
[core]
	editor = vim
  excludesfile = ~/.gitignore_global
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
